/*
    Styles for hamburger-icon in navigation
*/

$hamburger-bar-width: 28px !default;
$hamburger-bar-height: 2px !default;
$hamburger-bar-spacing: 6px !default;
$hamburger-color: #fff !default;
$hamburger-transition-duration: 300ms !default;

.hamburger-button {
	width: $hamburger-bar-width;
	height: $hamburger-bar-height + $hamburger-bar-spacing*2;

	&__toggle {
		position: absolute;
		left: -9999px;
		opacity: 0;
	}

	&__menu {
		position: absolute;
		width: $hamburger-bar-width;
		height: $hamburger-bar-height + $hamburger-bar-spacing*2;
		cursor: pointer;
	}

	&__bar,
	&__bar:after,
	&__bar:before {
		width: $hamburger-bar-width;
		height: $hamburger-bar-height;
	}

	&__bar {
		position: relative;
		background: $hamburger-color;
		transition: all 0ms $hamburger-transition-duration;
		transform: translateY($hamburger-bar-spacing);
	}

	&__bar:before {
		position: absolute;
		bottom: $hamburger-bar-spacing;
		left: 0;
		background: $hamburger-color;
		content: "";
		transition: bottom $hamburger-transition-duration $hamburger-transition-duration cubic-bezier(0.23, 1, 0.32, 1), transform $hamburger-transition-duration cubic-bezier(0.23, 1, 0.32, 1);
	}

	&__bar:after {
		position: absolute;
		top: $hamburger-bar-spacing;
		left: 0;
		background: $hamburger-color;
		content: "";
		transition: top $hamburger-transition-duration $hamburger-transition-duration cubic-bezier(0.23, 1, 0.32, 1), transform $hamburger-transition-duration cubic-bezier(0.23, 1, 0.32, 1);
	}

	&__toggle:checked + &__menu {
		.hamburger-button__bar {
			background: transparentize($hamburger-color, 1);

			&:after {
				top: 0;
				transition: top $hamburger-transition-duration cubic-bezier(0.23, 1, 0.32, 1), transform $hamburger-transition-duration $hamburger-transition-duration cubic-bezier(0.23, 1, 0.32, 1);
				transform: rotate(45deg);
			}

			&:before {
				bottom: 0;
				transition: bottom $hamburger-transition-duration cubic-bezier(0.23, 1, 0.32, 1), transform $hamburger-transition-duration $hamburger-transition-duration cubic-bezier(0.23, 1, 0.32, 1);
				transform: rotate(-45deg);
			}
		}}
}
