/*
    All icons included like font
*/

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?ozi8r5');
    src:    url('../fonts/icomoon.eot?ozi8r5#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?ozi8r5') format('truetype'),
        url('../fonts/icomoon.woff?ozi8r5') format('woff'),
        url('../fonts/icomoon.svg?ozi8r5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-left-arrow:before {
    content: "\e909";
}
.icon-right-arrow:before {
    content: "\e90a";
}
.icon-dot:before {
    content: "\e90b";
}
.icon-main-1:before {
    content: "\e900";
}
.icon-main-2:before {
    content: "\e901";
}
.icon-main-3:before {
    content: "\e902";
}
.icon-main-4:before {
    content: "\e903";
}
.icon-main-5:before {
    content: "\e904";
}
.icon-main-6:before {
    content: "\e905";
}
.icon-main-7:before {
    content: "\e906";
}
.icon-main-8:before {
    content: "\e907";
}
.icon-main-9:before {
    content: "\e908";
}
