/*
    Styles for slider - default
*/


// TODO add arrow for slider in one icomoon font
// TODO add lazy load for images in slider
// TODO js-plugin for slider move to js/vendor
// TODO beautify this styles in terms of our code style convention
// TODO fix bug with figcapture in slider (different height of elements)

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: "../fonts/" !default;
$slick-font-family: "icomoon" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\e909" !default;
$slick-next-character: "\e90a" !default;
$slick-dot-character: "\e90b" !default;
$slick-dot-size: 18px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */

.slick-list {
    .slick-loading & {

        
        background: #fff slick-image-url("../../img/ajax-loader.gif") center center no-repeat;


        background: #fff slick-image-url("../img/ajax-loader.gif") center center no-repeat;

    }
}

/* Icons */
@if $slick-font-family == "icomoon" {
    @font-face {
        font-weight: normal;
        font-style: normal;
        font-family: "icomoon";
        src: slick-font-url("icomoon.eot?ozi8r5");
        src: slick-font-url("icomoon.eot?ozi8r5#iefix") format("embedded-opentype"), slick-font-url("icomoon.woff?ozi8r5") format("woff"), slick-font-url("icomoon.ttf?ozi8r5") format("truetype"), slick-font-url("icomoon.svg?ozi8r5#icomoon") format("svg");
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    top: 45%;
    display: block;
    padding: 0;
    width: 45px;
    height: 45px;
    outline: none;
    border: none;
    background: transparent;
    color: transparent;
    font-size: 0px;
    line-height: 0px;
    cursor: pointer;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;

        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }

    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }

    &:before {
        font-size: 20px;
        font-family: $slick-font-family;
        line-height: 1;

        //color: $slick-arrow-color;
        //opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.slick-prev {
    left: -30px;

    [dir="rtl"] & {
        right: -30px;
        left: auto;
    }

    &:before {
        content: $slick-prev-character;

        [dir="rtl"] & {
            content: $slick-next-character;
        }
    }
}

.slick-next {
    right: 0px;

    [dir="rtl"] & {
        right: auto;
        left: 0px;
    }

    &:before {
        content: $slick-next-character;

        [dir="rtl"] & {
            content: $slick-prev-character;
        }
    }
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 110px;

}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    text-align: center;

    li {
        position: relative;
        display: inline-block;
        margin: 0 5px;
        padding: 0;
        width: 20px;
        height: 20px;
        cursor: pointer;

        button {
            display: block;
            padding: 5px;
            width: 20px;
            height: 20px;
            outline: none;
            border: 0;
            background: transparent;
            color: transparent;
            font-size: 0px;
            line-height: 0px;
            cursor: pointer;

            &:hover, &:focus {
                outline: none;

                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                color: $slick-dot-color;
                content: $slick-dot-character;
                text-align: center;
                font-size: $slick-dot-size;
                font-family: $slick-font-family;
                line-height: 20px;
                opacity: $slick-opacity-not-active;

                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }

        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }

        .slick-slide {
            display: inline-block;
        }
    }
}
