/*
		Styles for section ABOUT US
*/

$section-about-paddings: 100px !default;
$section-about-paddings-sm: 15px !default;
$description-margin-bottom: 4px !default;
$text-color-type1: #626262 !default;
$text-color-type2: #1a162f !default;
$text-color-type3: #2e2a3e !default;

// TODO занести все значения что можно в переменные
// TODO прописать локальный урл для картинок
// TODO размеры шрифтов записать переменными из файла настроек

.about {
	position: relative;

	padding-top: $section-about-paddings;
	padding-bottom: $section-about-paddings;

	@include breakpoint(small only) {
		padding-top: $section-about-paddings-sm;
		padding-bottom: $section-about-paddings-sm;
	}
	&__header {
		font-size: $tablet-font-size-big;
		font-weight: bold;

		color: $text-color-type1;

		@include breakpoint(medium only) {
			font-size: $tablet-font-size-small;
		}
		@include breakpoint(small only) {
			font-size: $mobile-font-size-medium;

			color: $text-color-type2;
		}
	}
	&__descr {
		font-size: $tablet-font-size-xsmall;

		margin-bottom: $description-margin-bottom;

		color: $text-color-type1;

		@include breakpoint(medium only) {
			font-size: $tablet-font-size-xxsmall;
		}
		@include breakpoint(small only) {
			font-size: $mobile-font-size-xsmall;
		}
	}
	&__img {
		text-align: center;

		@include breakpoint(small only) {
			max-height: 220px;
			padding-right: 40px;
			padding-left: 40px;
		}
	}
	&__content {
		position: absolute;
		top: 50%;
		right: 0;

		padding-top: $section-about-paddings-sm;
		padding-bottom: $section-about-paddings-sm;

		transform: translateY(-50%);

		@include breakpoint(small only) {
			position: static;

			transform: none;
			text-align: center;
		}
	}
}
