/*
	Styles for "advantages" section
*/


$icon-size-desktop: 40px !default;
$icon-size-tablet: 37px !default;
$icon-size-mobile: 32px !default;


.whys {
	padding-top: 155px;
	padding-bottom: 175px;

	background: url(../img/backgrounds/circles-bg.png) no-repeat bottom right, radial-gradient(circle farthest-corner at bottom right, #4d7cb4 0%, #1e1d37 50%, #19142e 60%, #181429 70%, #171423 80%, #14131b 90%,  #0f1011 100%);
	text-align: center;

	@include breakpoint(medium only) {
		padding-top: 94px;
		padding-bottom: 94px;
	}

	@include breakpoint(small down) {
		padding-top: 33px;
		padding-bottom: 10px;

		background: url(../img/backgrounds/circles-bg.png) no-repeat 40% 10%, radial-gradient(circle farthest-corner at bottom right, #4d7cb4 0%, #1e1d37 50%, #19142e 60%, #181429 70%, #171423 80%, #14131b 90%,  #0f1011 100%);
	}

	&__title {
		margin-bottom: 125px;

		color: #fff;
		font-size: $tablet-font-size-xxbig;

		@include breakpoint(medium only) {
			margin-bottom: 84px;

			font-size: $tablet-font-size-xbig;
		}

		@include breakpoint(small down) {
 			margin-bottom: 40px;

			color: $lighter-transparent;
			font-size: $mobile-font-size-xbig;
		}
	}
}

.row--large {
	max-width: rem-calc(1200);
}

.whys__descr {
	color: $lighter-transparent;
	font-size: $tablet-font-size-xsmall;

	@include breakpoint(medium only) {
		font-size: $mobile-font-size-big;
	}

	@include breakpoint(small down) {
		font-size: $mobile-font-size-small;
	}
}

.whys__column1--mod {
	padding-right: 5%;
	padding-left: 0;

	@include breakpoint(medium only) {
		padding-right: 0.5%;
	}

	@media (max-width: 1280px) and (min-width: 640px) {
		padding-left: 5%;
	}
}

.whys__column2--mod {
	padding: 0 2.5%;

	@include breakpoint(medium only) {
		padding: 0 1%;
	}
}

.whys__column3--mod {
	padding-right: 0;
	padding-left: 5%;

	@include breakpoint(medium only) {
		padding-left: 0.5%;
	}

	@media (max-width: 1280px) and (min-width: 640px) {
		padding-right: 5%;
	}
}

.whys__columns--mod {
	position: relative;

	text-align: left;

	@include breakpoint(small down) {
		margin-bottom: 33px;
		padding: 0 30px;
	}

}


.whys__heading-wrapper {
	margin-bottom: 35px;


	@include breakpoint(medium only) {
		margin-bottom: 28px;
	}

	@include breakpoint(small down) {
		margin-bottom: 20px;
	}
}

.whys__icon--mod {
	margin-right: 25px;

	color: #fff;
	vertical-align: middle;
	font-size: $icon-size-desktop;

	@media (max-width: 1280px) and (min-width: 1024px) {
		display: block;
		margin-right: 0;
		margin-bottom: 5px;

		text-align: center;
	}

	@include breakpoint(medium only) {
		display: block;
		margin-right: 0;
		margin-bottom: 5px;

		font-size: $icon-size-tablet;
		text-align: center;
	}

	@include breakpoint(small down) {
		margin-right: 17px;

		color: $lighter-transparent;
		font-size: $icon-size-mobile;

	}
}

.whys__column-heading {
	color: #fff;
	font-size: $tablet-font-size-big;

	@media (max-width: 1280px) and (min-width: 1024px) {
		text-align: center;
	}

	@include breakpoint(medium only) {
		text-align: center;
		font-size: $tablet-font-size-small;
	}

	@include breakpoint(small down) {
		font-size: $mobile-font-size-medium;
	}
}

