/*
		Styles for section CONTACT-US
*/


$section-contact-us-paddings: 100px !default;
$text-margins: 40px !default;
$bacground-section-color1: #f2f7fb !default;
$bacground-section-color2: #eff1f7 !default;
$bacground-section-color3: #f8f9fd !default;

//text colours
$dark: #666666 !default;
$light:  #330033 !default;

// 	TODO: 	create color pallete
// 	TODO:	put all variables in one file

.bg-type1{
	background-color: $bacground-section-color1;
}

.bg-type2{
	background-color: $bacground-section-color2;
}

.bg-type3{
	background-color: $bacground-section-color3;
}

.hp_section-contact-us{
	padding-top: $section-contact-us-paddings;
	padding-bottom: $section-contact-us-paddings;

	@include breakpoint(small down) {
		padding-top: $section-contact-us-paddings / 2;
		padding-bottom: $section-contact-us-paddings / 2;
	}
}

.hero-text{
	padding: 10px 0;
	text-align: center;

	&__title{
		margin-bottom: $text-margins;
		color: $dark;
		font-size: $tablet-font-size-xxbig;

		@include breakpoint(small down) {
			margin-bottom: $text-margins / 2;
			font-size: $mobile-font-size-medium;
		}
	}

	&__descr{
		margin-right: auto;
		margin-bottom: $text-margins;
   		margin-left: auto;
		padding: 0 5px;
		color: $light;
		font-size: $tablet-font-size-xsmall;

		@include breakpoint(small down) {
			margin-bottom: $text-margins / 2;
			font-size: $mobile-font-size-small;
		}
	}
}