/*
		Styles for section FEATURES
*/

$description-margin-bottom: 4px !default;
$text-color-type1: #626262 !default;
$text-color-type2: #1a162f !default;
$text-color-type3: #2e2a3e !default;
$section-features-paddings-sm: 30px !default;

// TODO размеры шрифтов записать переменными из файла настроек

.features {
	position: relative;

	overflow: hidden;

	padding: 3% 0 10% 0;

	@include breakpoint(small only) {
		padding-top: 50px;
	}
	&__header {
		font-size: $tablet-font-size-big;
		font-weight: bold;

		color: $text-color-type1;

		@include breakpoint(medium only) {
			font-size: $tablet-font-size-small;
		}
		@include breakpoint (small only) {
			font-size: $mobile-font-size-medium;

			text-align: center;

			color: $text-color-type2;
		}
	}
	&__descr {
		font-size: $tablet-font-size-xsmall;

		margin-bottom: $description-margin-bottom;

		color: $text-color-type1;

		@include breakpoint(medium only) {
			font-size: $tablet-font-size-xxsmall;
		}
		@include breakpoint(small only) {
			font-size: $mobile-font-size-xsmall;
		}
	}
	&__content {
		padding: 5% 10% 10% 5%;

		@include breakpoint(small only) {
			position: static;

			width: 100%;
			padding-top: 0;
			padding-right: $section-features-paddings-sm;
			padding-left: $section-features-paddings-sm;
		}
	}
	&__picture {
		padding-top: 0;
		padding-bottom: 0;

		@include breakpoint(small only) {
			position: relative;
			left: auto;

			height: 110px;
		}
	}
	&__wrapper {
		@include breakpoint(large) {
			position: relative;
		}
		@include breakpoint(medium only) {
			position: relative;
		}
	}
	&__last {
		@include breakpoint(small only) {
			padding-top: $section-features-paddings-sm;
		}
	}
}

.pic {
	position: absolute;

	max-width: none;

	@include breakpoint(small only) {
		position: absolute;
		left: 30%;

		padding: 0;
	}
	&__first {
		width: 120%;
		padding-top: 50px;

		@include breakpoint(small only) {
			width: 200px;
		}
	}
	&__second {
		width: 120%;

		@include breakpoint(small only) {
			left: 27%;

			width: 190px;
		}
	}
	&__third {
		width: 90%;

		@include breakpoint(small only) {
			width: 160px;
		}
	}
}
