/*
	Styles for "footer" section
*/


$col2-icon-size-desktop: 56px !default;
$col2-icon-size-tablet: 42px !default;
$col2-icon-size-mobile:	26px !default;
$col3-icon-size-desktop: 53px !default;
$col3-icon-size-tablet: 40px !default;
$col3-icon-size-mobile: 28px !default;


.footer-main {
	padding-top: 140px;
	padding-bottom: 190px;

	background-color: #1b172f;

	color: $lighter-transparent;
	font-size: $tablet-font-size-small;

	@include breakpoint(medium only) {
		padding-top: 80px;
		padding-bottom: 80px;

		font-size: $tablet-font-size-xxsmall;
	}

	@include breakpoint(small down) {
		padding-top: 20px;
		padding-bottom: 34px;

		font-size: $mobile-font-size-xsmall;
	}
}

.footer-main__columns--mod {
	padding: 0;
}

.footer-main__column1--mod {
	@media (max-width: 1024px) and (min-width: 640px) {
		padding-left: 5%;
	}

	@include breakpoint(small down) {
		padding-left: 7%;
	}
}

.footer-main__column2--mod {
	padding-left: 3%;

	@media (max-width: 832px) and (min-width: 640px) {
		padding-left: 0;

		text-align: center;
	}

	@include breakpoint(small down) {
		padding-left: 0;
	}

	p {
		margin-bottom: 40px;

		@include breakpoint(small down) {
			margin-bottom: 15px;
		}

		&:first-child {
			margin-top: -8px;

			@include breakpoint(small down) {
				margin-top: 0;
			}
		}
	}
}

.column2__links {
	color: $lighter-transparent;
	transition: all $button-transition-time $button-transition-easing;

	&:hover {
		color: $button-background;
	}
}

.footer-main__column3--mod {
	padding-left: 12.5%;

	@media (max-width: 1024px) and (min-width: 640px) {
		padding-left: 6%;
	}
	
	@include breakpoint(small down) {
		margin-top: 15px;
		padding-left: 0;

		text-align: center;
	}
}

.footer-main__nav-list {
	list-style-type: none;

	li {
		margin-bottom: 15px;

		@include breakpoint(small down) {
			margin-bottom: 9px;
		}
	}

	a {
	    color: $lighter-transparent;
	    transition: all $button-transition-time $button-transition-easing;

		@include breakpoint (small down) {
			font-size: $mobile-font-size-xsmall;
		}

	    &:hover {
	    	color: $button-background;
	    	
	    }
	}
}

.footer-main__nav-list {
	margin: 0;
}

.footer-main__icon--mod-1 {
	margin-right: 16px;

	vertical-align: middle;
	font-size: $col2-icon-size-desktop;

	@media (max-width: 832px) and (min-width: 640px) {
		display: block;
		margin-right: 0;
		margin-bottom: 5px;

		font-size: $col2-icon-size-tablet;
		text-align: center;
	}

	@include breakpoint(medium only) {
		font-size: $col2-icon-size-tablet;
	}

	@include breakpoint(small down) {
		margin-right: 8px;

		font-size: $col2-icon-size-mobile;
	}
}

.footer-main__address {
	margin-bottom: 45px;

	@include breakpoint(small down) {
		margin-bottom: 13px;
	}
}

.footer-main__social {
	margin-bottom: 35px;

	@include breakpoint(small down) {
		margin-bottom: 13px;
	}

	a {
		color: $lighter-transparent;
		font-size: $col3-icon-size-desktop;
		transition: all $button-transition-time $button-transition-easing;

		@include breakpoint(medium only) {
			font-size: $col3-icon-size-tablet;
		}

		@include breakpoint(small down) {
			font-size: $col3-icon-size-mobile;
		}

		&:hover {
			color: $button-background;
		}

		&:nth-child(2) {
			margin: 0 17px;
		}
	}
}

.btn-medium--mod.btn-medium--mod {
	@include breakpoint(medium only) {
		padding: $button-padding-tablet;
		min-width: $button-min-width-tablet;
		font-size: $mobile-font-size-medium;
	}
}




