/*
	Styles for header
*/

$color-fp-header-bg: #070809;
$color-header-logo-underline: #fff;
$color-main-nav-mobile-underline: #252525;
$color-main-nav-mobile-blind: $color-fp-header-bg;

.fp-header {
	font-family: $body-font-family;
	background-color: $color-fp-header-bg;
}

.row--nav {
	position: relative;

	@include breakpoint(1084 down) {
		max-width: 100%;
	}
}

.main-nav {
	position: absolute;
	top: rem-calc(55);
	width: 100%;
	font-size: $tablet-font-size-small;

	@include breakpoint(small down) {
		top: 0;
	}
	@media (max-width: 1084px) and (min-width: 640px) {
		padding-right: 30px;
		padding-left: 30px;
	}
	@media (max-width: 870px) and (min-width: 640px) {
		top: rem-calc(20);
	}

	&__logo {
		&:after {
			@media (max-width: 870px) and (min-width: 640px) {
				position: absolute;
				left: 0;
				display: block;
				margin-top: 10px;
				width: 100%;
				height: 1px;
				background-color: $color-header-logo-underline;
				content: '';
			}
		}

		& > img {
			max-width: rem-calc(110);

			@include breakpoint(small down) {
				position: absolute;
				z-index: 2;
				margin-top: 20px;
				margin-left: 20px;
				max-width: 67px;
			}
			@media (max-width: 870px) and (min-width: 640px) {
				display: block;
				margin: 0 auto;
			}
		}
	}

	.hamburger-button {
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 2;
		display: none;

		@include breakpoint(small down) {
			display: block;
		}
	}

	&__mobile-blind {
		display: none;

		@include breakpoint(small down) {
			position: absolute;
			z-index: 1;
			display: block;
			width: 100%;
			height: rem-calc(55);
			background-color: $color-main-nav-mobile-blind;
		}

		&.is-active {
			top: 0;
			transition: all 0.1s; //Timing should be synchronized with &:not(.is-active)
		}

		&:not(.is-active) {
			top: rem-calc(-55);
			transition: all 0.1s 0.15s; //Timing should be synchronized with &__nav-list
		}
	}
}

.main-nav-list {
	float: right;
	transition: all 0.25s ease-in-out; //Timing should be synchronized with &__mobile-blind

	@media (max-width: 870px) and (min-width: 640px) {
		margin-top: rem-calc(25);
		width: 100%;
		text-align: justify;
	}
	@include breakpoint(small down) {
		position: absolute;
		top: rem-calc(-400);
		padding-top: rem-calc(75);
		width: 100%;
		background-color: $color-fp-header-bg;
	}

	&.is-active {
		@include breakpoint(small down) {
			top: 0;
		}
	}

	&__item {
		position: relative;
		display: inline-block;
		margin-left: 25px;
		font-size: $tablet-font-size-xsmall;

		@include breakpoint(small down) {
			display: block;
			overflow: hidden;
			margin-left: 0;
			padding: 15px 0;
			border-bottom: 1px solid $color-main-nav-mobile-underline;
			text-indent: 20px;
			font-size: $mobile-font-size-big;

			&:last-of-type {
				border-bottom: none;
			}
		}

		@media (max-width: 870px) and (min-width: 640px) {
			margin: 0;
		}

		&:first-child {
			margin-left: 0;
		}

		&:hover {
			text-decoration: none;
		}

		&:before,
		&:after {
			position: absolute;
			top: 100%;
			right: 50%;
			left: 50%;
			display: block;
			height: 1px;
			background-color: $anchor-color-hover;
			content: '';
			transition: all 0.2s ease-in-out;
		}

		&:hover{
			&:before {
				right: -5px;
			}

			&:after {
				left: -5px;
			}
		}
	}

	&__helper {
		@media (max-width: 870px) and (min-width: 640px) {
			display: inline-block;
			width: 100%;
		}
	}
}


.fp-header__content {
	padding-top: rem-calc(270);
	padding-bottom: rem-calc(100);
	min-height: rem-calc(725);
	background: {
		position: center bottom;

		image: url(../img/backgrounds/bg1.jpg);
		size: cover;
		repeat: no-repeat;
	}
	transition: all 0.3s 0.1s ease-in-out;

	@include breakpoint (1084 down) {
		padding-right: 30px;
		padding-left: 30px;
	}
	@include breakpoint(small down) {
		padding: rem-calc(20);
		padding-top: rem-calc(95);
		min-height: rem-calc(325);
		background-position: 60% bottom;
	}

	&.is-active {
		@include breakpoint(small down) {
			margin-top: rem-calc(310);
		}
	}
}

.fp-header-text {
	&__headline {
		margin-bottom: 25px;
		font-size: $tablet-font-size-xxxbig;

		@include breakpoint(small down) {
			margin-bottom: 5px;
			font-size: $mobile-font-size-xxbig;
		}
	}

	&__description {
		margin-bottom: rem-calc(35);
		max-width: rem-calc(550);
		color: $lighter-transparent;
		font-size: $tablet-font-size-small;

		@include breakpoint(small down) {
			margin-bottom: rem-calc(40);
			max-width: rem-calc(250);
			font-size: $mobile-font-size-small;
		}
	}

	&__note {
		margin-top: 14px;
		color: $lighter-transparent;
		font-size: $tablet-font-size-xxsmall;

		@include breakpoint(small down) {
			margin-top: 10px;
			font-size: $mobile-font-size-xxsmall;
		}
	}
}

