/*
    Styles for section "projects"
*/

.main {
    padding-bottom: 20px;
    background: $slider-block-background;
    @include breakpoint(small down) {
        padding-bottom: 0;
        text-align: center;
        .hero-text__descr .hero-text__descr {
            margin-top: 29px;
            @include breakpoint(small down) {
                margin-top: 10px;
            }
        }
    }
}
.main__slider {
    position: relative;
    margin: 0 auto;
    padding: 0 40px;
    max-width: 100%;
    max-width: 1400px;
    @include breakpoint(small down) {
        padding: 0 20px;
        width: 95%;
    }
    .hero-text__descr {
        padding: 20px 0 0 0;
        max-width: 80%;
        background-color: transparent;
        text-align: center;
    }
}
.main__slider__wrapper {
    max-width: 1400px;
    margin: 0 auto;
}
.main__slider {
    padding: 120px 0 120px 50px;
    @include breakpoint(small down) {
        padding: 34px 0;
    }
}
.hero-text__title--modifier {
    margin: 0 auto;
    padding-bottom: 120px;
    padding-left: rem-calc(50);
    @include breakpoint(small down) {
        margin: auto;
        margin-bottom: 40px;
        padding-bottom: 0px;
        padding-left: 0;
    }
}
.hero-text__descr__modifier {
    position: absolute;
    top: 130px;
    right: 60px;
    float: right;
    text-decoration: underline;
    color: $black;
    @include breakpoint(small down) {
        position: static;
        float: none;
        padding: 0.375rem 2.325rem;
        margin-top: 20rem;
        min-width: 8rem;
        border: 0.125rem solid rgba(186, 186, 186, 0.76);
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        font-size: 1rem;
        cursor: pointer;
        color: $dark;
    }
    &:hover {
        @include breakpoint(small down) {
            border-color: transparent;
            background: #2a486c;
            transition: all 0.25s ease-in-out;
            text-decoration: none;
        }
    }
}
// Slider style
.slider--responsive {
    @include breakpoint(small down) {
        display: none;
    }
}
.slider .hero-text__modifier {
    padding-top: 15px;
    padding-bottom: 30px;
}
.responsive__slide {
    @include breakpoint(small down) {
        width: 81%;
        height: 75%;
    }
}
.slick-list {
    overflow: hidden;
}
.slider {
    margin: 0 auto;
    @include breakpoint(small down) {
        padding-bottom: 13px;
    }
}
.slick-slide {
    display: inline-block;
    margin: 0px 50px;
    max-width: 370px;
    max-height: 300px;
    vertical-align: top;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-slide img {
    width: 100%;
}
.slick-prev:before,
.slick-next:before {
    color: $black;
}