<section class="hp_section-contact-us bg-type1">
	<div class="row">
		<div class="hero-text">
			<h2 class="hero-text__title">Drop us a line</h2>
			<p class="hero-text__descr">If you’re considering our services, feel free to contact <br/> us below. We promise to reply within a few hours.</p>
			<a href="#0" class="btn btn--alt">Contact us</a>
		</div>
	</div>
</section>