<header class="fp-header">
	<div class="row row--nav">
		<nav class="main-nav">
			<a class="main-nav__logo" href="#"><img src="assets/img/logos/main-logo.png" alt="Logo"></a>

			<div class="hamburger-button">
				<input type="checkbox" id="nav-menu-mobile-button" class="hamburger-button__toggle js-menu-mobile-button" />

				<label for="nav-menu-mobile-button" class="hamburger-button__menu">
					<div class="hamburger-button__bar"></div>
				</label>
			</div>

			<div class="main-nav__mobile-blind js-main-nav__mobile-blind"></div>

			<div class="main-nav-list js-main-nav-list">
				<a href="#" class="main-nav-list__item">About us</a>
				<a href="#" class="main-nav-list__item">Portfolio</a>
				<a href="#" class="main-nav-list__item">Technologies</a>
				<a href="#" class="main-nav-list__item">Build a marketplace</a>
				<a href="#" class="main-nav-list__item">Contact us</a>

				<div class="main-nav-list__helper"></div>
			</div>
		</nav>
	</div>

	<div class="fp-header__content js-header__content">
		<div class="row">
			<div class="fp-header-text">
				<h1 class="fp-header-text__headline">Enterprise-level web development</h1>

				<p class="fp-header-text__description">Create complex multitenant SaaS solutions from scratch based on Microsoft stack</p>

				<a class="btn btn--main">Solution for marketplaces &rarr;</a>

				<aside class="fp-header-text__note">* - websites like Airbnb, Ebay, Upwork</aside>
			</div>
		</div>
	</div>
</header>
