<section class="main">
    <div class="main__slider"> <!-- This block for responsive slick -->
        <div class="main__slider__wrapper">
            <h2 class="hero-text__title section__title--modifier">Latest projects</h2>
            
            <section class="responsive slider">
                <div >
                    <img class="responsive__slide" src="http://plodovie.ru/wp-content/uploads/2016/03/17-370x190.jpeg">
                    <p class="hero-text__descr hero-text__descr-modifier">Australia rental equipment rental portal.</p>
                </div>
                <div>
                    <img class="responsive__slide hero-text__descr-modifier" src="http://plodovie.ru/wp-content/uploads/2016/03/17-370x190.jpeg">
                    <p class="hero-text__descr hero-text__descr-modifier">Australia rental equipment rental portal</p>
                </div>
                <div>
                    <img class="responsive__slide" src="http://plodovie.ru/wp-content/uploads/2016/03/17-370x190.jpeg">
                    <p class="hero-text__descr hero-text__descr-modifier">Australia rental equipment rental portal</p>
                </div>
                <div class="slider--responsive">
                    <img src="http://plodovie.ru/wp-content/uploads/2016/03/17-370x190.jpeg">
                    <p class="hero-text__descr">Marketplace website for China market</p>
                </div>
                <div class="slider--responsive">
                    <img src="http://plodovie.ru/wp-content/uploads/2016/03/17-370x190.jpeg">
                    <p class="hero-text__descr">Marketplace website for China market</p>
                </div>
                <div class="slider--responsive">
                    <img src="http://plodovie.ru/wp-content/uploads/2016/03/17-370x190.jpeg">
                    <p class="hero-text__descr">Marketplace website for China market</p>
                </div>
                <div  class="slider--responsive">
                    <img src="http://plodovie.ru/wp-content/uploads/2016/03/17-370x190.jpeg">
                    <p class="hero-text__descr">Marketplace website for China market</p>
                </div>
                <div class="slider--responsive">
                    <img src="http://plodovie.ru/wp-content/uploads/2016/03/17-370x190.jpeg">
                    <p class="hero-text__descr">Marketplace website for China market</p>
                </div>
                <div class="slider--responsive">
                    <img src="http://plodovie.ru/wp-content/uploads/2016/03/17-370x190.jpeg">
                    <p class="hero-text__descr">Marketplace website for China market</p>
                </div>
            </section>
            <a class=" hero-text__descr__modifier">Show all projects</a>
        </div>
    </div>
</section>
