<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Empeek</title>
		<link rel="stylesheet" href="{{root}}assets/css/app.css">
		<link rel="shortcut icon" href="{{root}}assets/img/icons/favicon.ico">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	</head>
	<body id="page-top">
		{{> body}}
		<a href="#page-top" class="btn btn--scroll-up js-scroll-to"></a>
		<script src="{{root}}assets/js/app.js"></script>
	</body>
</html>
